.section__bike-hover-banner {
  .bike-hover-banner__02 {
    .banner--infor {
      text-align: left;
      top: 50%;
      left: 10%;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      h3 {
        font-size: 24px;
        font-weight: 700;
      }
      h2 {
        font-size: 70px;
        line-height: 70px;
        font-weight: 700;
      }
    }
  }
  .bike-hover-banner__03 {
    .banner--infor {
      text-align: left;
      top: 50%;
      left: 10%;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      h3 {
        font-size: 24px;
        font-weight: 700;
      }
      h2 {
        font-size: 70px;
        line-height: 70px;
        font-weight: 700;
      }
    }
  }
  .bike-hover-banner__04 {
    .banner--infor {
      text-align: left;
      top: 50%;
      left: 10%;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      h1 {
        font-size: 180px;
        line-height: 160px;
      }
    }
  }
}
