.la-member__inner {
  margin-left: 15px;
  margin-right: 15px;
  .la-member__image {
    position: relative;
    overflow: hidden;
  }
  .la-member__info {
    position: relative;
    text-align: center;
    .la-member__info-title-role {
      .la-member__info-title {
        font-size: 14px;
        margin: 17px 0 7px;
        text-transform: uppercase;
      }
      .la-member__info-role {
        transition: all 250ms ease-out;
      }
    }
    .la-member__info-desc {
      font-size: 12px;
      line-height: 2;
      min-height: 30px;
      transition: all 250ms ease-out 50ms;
    }
  }
  .member-social {
    font-size: inherit;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-out;
  }
  &.not-desc:hover {
    .la-member__info-role {
      transform: translate(0,-20px);
    -ms-transform: translate(0,-20px);
    -webkit-transform: translate(0,-20px);
    opacity: 0;
    visibility: hidden;
    }
    .la-member__info-desc {
      transform: translate(0,-20px);
      -webkit-transform: translate(0,-20px);
      opacity: 0;
      visibility: hidden;
    }
    .member-social {
      bottom: 0;
      visibility: visible;
      opacity: 1;
    }
  }
  &:hover {
    .la-member__info-desc {
      transform: translate(0,-20px);
      -webkit-transform: translate(0,-20px);
      opacity: 0;
      visibility: hidden;
    }
    .member-social {
      bottom: 20px;
      visibility: visible;
      opacity: 1;
    }
  }
  &.not-desc {
    .member-social {
      bottom: -20px !important;
    }
    &:hover {
      .member-social {
        bottom: 0 !important;
      }
    }
  }
}
