//footer style 3
#shopify-section-footer {
  .footer-wrapper.footer-style3 {
    background-image: url(bg-white-radius.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 0px;
    .footer-container {
      padding: 0 0 10px 0;
      text-align: center;
      .footer_middle_logo {
        margin-bottom: 30px;

      }
      .content-text{
        margin-top: 25px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 25px;
      }
      .copyright-text {
        margin-top: 30px;
        text-align: center;
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 20px 0;
      }
      .footer-menu {
        text-align: center;
        li {
          display: inline-block;
          font-size: 16px;
          margin: 5px 25px;
        }
      }
      .social-media-link {
        float: right;
      }
    }
  }
}
//end footer style 3
