.footer-handheld-footer-bar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 6px rgba(0,0,0,.7);
    z-index: 9999;
    transition: all .3s ease;
    .footer-handheld__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: #232324;
      .handheld_component {
        flex-basis: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 8px 0;
        color: #fff;
        border-left: 1px solid rgba(255,255,255,.1);
        .component-target {
          position: relative;
          width: 40px;
          display: block;
          text-align: center;
          font-size: 16px;
          line-height: 40px;
          height: 40px;
          margin: 0 auto;
          i {
            display: block;
            line-height: inherit;
            color: #fff;
            &.dl-icon-search1,
            &.dl-icon-heart2,
            &.dl-icon-cart1 {
              &:before {
                position: relative;
                top:3px;
              }
            }
          }
        }
        &.la_com_action--dropdownmenu {
          .menu {
            margin: 0;
            list-style: none;
            position: absolute;
            z-index: 11;
            top: 100%;
            width: 200px;
            opacity: 0;
            visibility: hidden;
            background-color: #fff;
            padding: 15px;
            box-shadow: 0 2px 12px 2px rgba(0,0,0,.1);
            transition: all 250ms ease-out;
          }
          .menu {
            background-color: #232324;
            width: 100%;
            bottom: 100%;
            top: auto;
            left: 0;
            opacity: 0;
            visibility: hidden;
            li {
              a {
                color: #fff;
                text-transform: uppercase;
                font-size: 11px;
                display: block;
                padding: 10px 30px;
              }
            }
          }
          &.active {
            .menu {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
    .la_compt_iem .component-target-badget {
      font-family: Arial,Helvetica,sans-serif;
      position: absolute;
      font-size: 10px;
      height: 15px;
      line-height: 15px;
      color: #fff;
      display: block;
      top: 0;
      right: 4px;
      min-width: 15px;
      text-align: center;
      padding: 0;
      border-radius: 50%;
    }
    .lang-current-aside .language-wrapper a .current-language span {
      display: none;
      &.active {
        display: inline-block;
      }
    }
    .lang-current-aside {
      .currency-wrapper {
        .setting-currency {
          display: none;
        }
      }
      .language-wrapper {
        .select-language {
          display: none;
        }
      }
    }
}
