//secsion title
.sub-title-enable{
  .section-title{
    margin-bottom: 0 !important;
    padding-bottom: 20px !important;
  }
}
.style_1{
  .section-title{
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 1px;
      width: 50px;
      background: #232324;
      transform: translateX(-50%);
    }
    span{
      font-size: 48px;
      line-height: 48px;
      color: #232324;
    }
  }
  .section-sub-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.style_2{
  .section-title{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    text-transform: uppercase;
    &:after{
      display: none;
    }
    span{
      font-size: 56px;
      line-height: 56px;
      color: #232324;
      padding: 0 20px;
      position: relative;
      text-transform: uppercase;
    }
  }
  .section-sub-title{
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;

  }
}
.style_3{
  .section-title{
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 1px;
      width: 50px;
      background: #232324;
      transform: translateX(-50%);
    }
    span{
      font-size: 48px;
      line-height: 48px;
      color: #fff;
    }
  }
  .section-sub-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px){
  .section-title{
    margin-bottom: 15px;
    padding-bottom: 15px;
    span {
      font-size: 28px;
    }
  }
}
