.helas-icon-box {
  .icon-boxes-inner .box-heading-top .box-heading .icon-heading {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    margin: 0;
  }
  .box-description {
    margin-top: 20px;
  }
}
