@import url('https://fonts.googleapis.com/css?family=Satisfy');
//secsion title
.sub-title-enable{
  .section-title{
    margin-bottom: 0 !important;
    padding-bottom: 20px !important;
  }
}
.style_1{
  .section-title{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-family: Prata;
    font-weight: 400;
    text-transform: uppercase;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 2px;
      width: 60px;
      background: #232324;
      transform: translateX(-50%);
    }
    span{
      font-size: 48px;
      line-height: 48px;
      color: #232324;
    }
  }
  .section-sub-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 24px;
    color: #8a8a8a;
  }
}
.style_2{
  .section-title{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-family: Prata;
    font-weight: 400;
    text-transform: uppercase;
    &:after{
      display: none;
    }
    span{
      font-size: 48px;
      line-height: 48px;
      color: #232324;
      padding: 0 20px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        left: -180px;
        top: 50%;
        transform: translateY(-50%);
        width: 180px;
        height: 1px;
        background: #8a8a8a;
      }
      &:after{
        content: '';
        position: absolute;
        right: -180px;
        top: 50%;
        transform: translateY(-50%);
        width: 180px;
        height: 1px;
        background: #8a8a8a;
      }
    }
  }
  .section-sub-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 24px;
    color: #8a8a8a;
  }
}
.style_3{
  text-align: center;
  .section-title{
    text-align: center;
    position: relative;
    padding: 35px 80px;
    font-family: Poppins;
    font-weight: 700;
    border: 2px solid #cbcbcb;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
    &:after{
      display: none;
    }
    span{
      letter-spacing: 5px;
      max-width: 100%;
      line-height: 26px;
      margin: 0;
      color: #232324;
      font-size: 24px;
    }
  }
  .section-sub-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 24px;
    color: #8a8a8a;
  }
}
.style_4{
  .section-title{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-family: Poppins;
    font-weight: 300;
    text-transform: uppercase;
    &:after{
      display: none;
    }
    span{
      font-size: 36px;
      line-height: 1.2;
      color: #232324;
      letter-spacing: 10px;
    }
  }
  .section-sub-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 24px;
    color: #8a8a8a;
    font-weight: 400;
  }
}
.style_5{
  .section-title{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 3px;
      width: 40px;
      background-color: #93ddff;
      background-image: -moz-linear-gradient(180deg,star 0,#fabb98 100%);
      background-image: -webkit-linear-gradient(180deg,#93ddff 0,#fabb98 100%);
      background-image: -ms-linear-gradient(180deg,#93ddff 0,#fabb98 100%);
      transform: translateX(-50%);
    }
    span{
      font-size: 24px;
      line-height: 1.2;
      color: #232324;
      letter-spacing: 3px;
    }
  }
  .section-sub-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 24px;
    color: #8a8a8a;
    font-weight: 400;
  }
}
.style_6{
  .section-title {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 20px;
    font-family: Poppins;
    font-weight: 700;
    text-transform: capitalize;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 3px;
      width: 85px;
      background-color: #7e8ce2;
      background-image: -moz-linear-gradient(180deg, star 0, #7e8ce2 100%);
      background-image: -webkit-linear-gradient(180deg, #f54a5f 0, #7e8ce2 100%);
      background-image: -ms-linear-gradient(180deg, #f54a5f 0, #7e8ce2 100%);
      transform: translateX(-50%);
    }
    span {
      font-size: 72px;
      line-height: 1.2;
      color: #232324;
    }
  }
  .section-sub-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #8a8a8a;
    font-weight: 400;
  }
}
.style_7 {
  .section-title {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-family: 'Satisfy',cursive;
    font-weight: 400;
    text-transform: capitalize;
    &:after{
      display: none;
    }
    span {
      font-size: 46px;
      line-height: 1.2;
      color: #232324;
    }
  }
  .section-sub-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #8a8a8a;
    font-weight: 400;
  }
  .sub-image{
    text-align: center;
    padding-bottom: 40px;
  }
  &.sub-title-enable {
    .sub-image{
      padding-bottom: 10px;
    }
    .section-sub-title {
      margin-bottom: 60px;
    }
  }
}
.style_8{
  .section-title {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-family: Prata;
    font-weight: 400;
    text-transform: capitalize;
    &:after{
      display: none;
    }
    span {
      font-size: 48px;
      line-height: 50px;
      color: #232324;
    }
  }
  .section-sub-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #8a8a8a;
    font-weight: 400;
  }
  .sub-image{
    text-align: center;
    padding-bottom: 40px;
  }
  &.sub-title-enable {
    .sub-image{
      padding-bottom: 15px;
    }
    .section-sub-title {
      margin-bottom: 30px;
    }
  }
}
.style_9{
  .section-title {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-weight: 400;
    text-transform: capitalize;
    &:after{
      display: none;
    }
    span {
      font-size: 110px;
      line-height: 110px;
      color: #232324;
    }
  }
  .section-sub-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #8a8a8a;
    font-weight: 400;
  }
  .sub-image{
    text-align: center;
    width: 190px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  &.sub-title-enable {
    .sub-image{
      padding-bottom: 28px;
    }
    .section-sub-title {
      margin-bottom: 60px;
    }
  }
}
@media (max-width: 767px){
  .section-title{
    margin-bottom: 15px;
    padding-bottom: 15px;
    span {
      font-size: 28px;
    }
  }
}
