.testimonial-section {
  .testimonia-title {
    margin-bottom: 45px;
  }

  &.layout-style_1 {
    .incify-testimonial__inner {
      background-image: url("bg-white-radius.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-attachment: scroll;
      padding-top: 60px;
      padding-bottom: 0;
    }

    .incify-testimonial {
      .slick-arrow {
        display: none !important;
      }

      .slick-dots {
        bottom: 0;

        li {
          button {
            &:before {
              font-size: 10px;
            }
          }

          &.slick-active {
            button {
              color: #000;

              &:before {
                color: inherit;
                font-size: 12px;
              }
            }
          }
        }
      }

      .testimonial_item--inner {
        .testimonial_item--image {
          span {
            width: 90px;
            height: 90px;
            display: block;
            margin: 0 auto;
            border-radius: 50%;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: #000 solid 1px;
          }
        }

        .testimonial_item--info {
          .testimonial_item--excerpt {
            margin: 0 auto;
            font-size: 36px;
            line-height: 1.34;
          }
        }

        .testimonial_item--bottom {
          .testimonial_item--title-role {
            margin-top: 30px;
            display: inline-block;
            padding: 6px 25px;
            font-size: 14px;

            &:before {
              display: none;
            }

            .testimonial_item--title {
              display: inline-block;
              font-size: 20px;
              font-weight: 700;
              margin-right: 10px;
            }

            .testimonial_item--role {
              font-style: italic;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  &.layout-style_2 {
    .incify-testimonial {
      .slick-arrow {
        display: none !important;
      }

      .slick-dots {
        bottom: 0;
        text-align: left;

        li {
          button {
            &:before {
              font-size: 10px;
            }
          }

          &.slick-active {
            button {
              color: #000;

              &:before {
                color: inherit;
                font-size: 12px;
              }
            }
          }
        }
      }

      .slick-dotted.slick-slider {
        margin-bottom: 0;
      }

      .testimonial_item--inner {
        text-align: left;

        .testimonial_item--image {
          display: none;
        }

        .testimonial_item--info {
          .testimonial_item--excerpt {
            margin: 0 auto;
            font-size: 36px;
            line-height: 1.34;
          }
        }

        .testimonial_item--bottom {
          .testimonial_item--title-role {
            margin-top: 30px;
            display: inline-block;
            font-size: 14px;

            &:before {
              display: none;
            }

            .testimonial_item--title {
              display: inline-block;
              font-size: 20px;
              font-weight: 700;
              margin-right: 10px;
            }

            .testimonial_item--role {
              font-style: italic;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  &.layout-style_3 {
    .incify-testimonial {
      .slick-arrow {
        display: none !important;
      }

      .slick-dots {
        bottom: 0;
        text-align: center;

        li {
          button {
            &:before {
              font-size: 10px;
              color: #fff;
            }
          }

          &.slick-active {
            button {
              color: #000;

              &:before {
                color: inherit;
                font-size: 12px;
              }
            }
          }
        }
      }

      .slick-dotted.slick-slider {
        margin-bottom: 0;
      }

      .testimonial_item--inner {
        text-align: center;

        .testimonial_item--image {
          display: none;
        }

        .testimonial_item--info {
          i {
            font-size: 30px;
          }
          .testimonial_item--excerpt {
            margin: 0 auto;
            font-size: 40px;
            line-height: 1.5;
          }
        }

        .testimonial_item--bottom {
          .testimonial_item--title-role {
            margin-top: 30px;
            display: inline-block;
            font-size: 14px;

            &:before {
              display: none;
            }

            .testimonial_item--title {
              display: inline-block;
              font-size: 12px;
              text-transform: uppercase;
              letter-spacing: 4px;
              font-weight: 700;
              color: #fff;
            }

            .testimonial_item--role {
              display: inline-block;
              font-size: 12px;
              text-transform: uppercase;
              letter-spacing: 4px;
              font-weight: 700;
              color: #fff;

              &:before {
                content: "-";
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
  }
}
