//top-collection-section
.top-collection-section {
  margin-top: 95px;
  .collection-banner-content{
    margin-top: 55px;
    .item {
      padding-left: 15px;
      padding-right: 15px;
      .box-inner{
        overflow: hidden;
        position: relative;
        &:hover{
          .banner--image{
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
          }
        }
        .link-shop-overlay{
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          transition: all 250ms ease-out;
        }
        .banner--image{
          padding-bottom: 30%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          overflow: hidden;

          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);

          -webkit-transition: all 800ms;
          -moz-transition: all 800ms;
          -ms-transition: all 800ms;
          -o-transition: all 800ms;
          transition: all 800ms;
          &.placeholder-svg {
            padding-bottom: 0;
          }
        }
        .banner--infor{
          position: absolute;
          max-width: 90%;
          left: 50%;
          transition: all .45s ease-out;
          z-index: 2;
          top: 50%;
          @include translate-all;
          p{
            font-weight: 400;
            color: #ffffff;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 10px;
            margin: 0;
          }
        }
      }
    }
  }
  .content-visible-when-hover .box-inner:hover .link-shop-overlay {
    opacity: .4;
    background-color: #232324;
    z-index: 1;
  }
  &.layout-slide {
    padding: 50px 0;
    .slick-dots li button:before {
      color: #fdfdfd;
    }
    .slick-dots li.slick-active button:before {
      color: #fff;
    }
  }
}
