.testimonial-section{
  &.layout-style_1{
    .incify-testimonial{
      .slick-arrow{
        display: none !important;
      }
      .slick-dots{
        li{
          button{
            &:before{
              font-size: 10px;
            }
          }
          &.slick-active{
            button{
              color: #ffffff;
              &:before{
                color: inherit;
                font-size: 12px;
              }
            }
          }
        }
      }
      .testimonial_item--inner{
        .testimonial_item--image {
          display: none;
        }
        .testimonial_item--info{
          .testimonial_item--excerpt{
            font-family: Prata;
            margin: 0 auto;
            font-size: 48px;
            line-height: 1.5;
            color: #ffffff;
          }
        }
        .testimonial_item--bottom{
          .testimonial_item--title-role{
            background-color: #ea5f72;
            background-image: -moz-linear-gradient(180deg,star 0,#fabb98 100%);
            background-image: -webkit-linear-gradient(180deg,#ea5f72 0,#fabb98 100%);
            background-image: -ms-linear-gradient(180deg,#ea5f72 0,#fabb98 100%);
            margin-top: 30px;
            display: inline-block;
            padding: 6px 25px;
            color: #fff;
            font-size: 14px;
            &:before{
              display: none;
            }
            .testimonial_item--title{
              display: inline-block;
            }
            .testimonial_item--role{
              font-size: 12px;
            }
          }
        }
      }
    }

  }
  &.layout-style_2{
    .incify-testimonial{
      .slick-arrow{
        display: none !important;
      }
      .testimonial_item--inner{
        background: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #dedede;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 40px;
        padding: 60px 35px 30px;
        .testimonial_item--image {
          position: absolute;
          width: 80px;
          height: 80px;
          left: 50%;
          top: -40px;
          margin-left: -40px;
          span {
            width: 80px;
            height: 80px;
            display: block;
            margin: 0 auto;
            border-radius: 50%;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .testimonial_item--info{
          .testimonial_item--excerpt{
              font-size: 12px;
              line-height: 2;
          }
        }
        .testimonial_item--bottom{
          .testimonial_item--title-role{
            &:before {
              display: none;
            }
            .testimonial_item--title{
              font-size: 18px;
              line-height: normal;
              padding-bottom: 5px;
              &:before {
                content: "";
                width: 25px;
                display: block;
                height: 3px;
                margin: 25px auto 15px;
                background-image: linear-gradient(90deg,#d1ecff 0,#efcdcd 100%);
              }
            }
            .testimonial_item--role{
              font-size: 12px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .slick-dots {
      bottom: 0;
      li {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        button {
          color: #ffffff;
          width: 10px;
          height: 10px;
          &:before {
            font-size: 8px;
            width: 10px;
            height: 10px;
          }
        }
        &.slick-active{
          button{
            &:before{
              color: inherit;
              font-size: 8px;
            }
          }
        }
      }
    }
  }
  &.layout-style_3{
    .incify-testimonial{
      position: relative;
      overflow: hidden;
      padding-top: 190px;
      padding-bottom: 140px;
      &:before {
        content: "";
        position: absolute;
        background: #fff;
        width: 110%;
        height: 300px;
        left: -5%;
        border-radius: 100%;
        top: -200px;
      }
      &:after {
        content: "";
        position: absolute;
        background: #fff;
        width: 110%;
        height: 300px;
        left: -5%;
        border-radius: 100%;
        bottom: -200px;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
      }
      .slick-arrow{
        display: none !important;
      }
      .testimonial_item--inner{
        .testimonial_item--image {
          span {
            width: 100px;
            height: 100px;
            display: block;
            margin: 0 auto;
            border-radius: 50%;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .testimonial_item--info{
          .testimonial_item--excerpt{
              color: #fff;
              font-size: 24px;
              line-height: 1.5;
              margin-bottom: 15px;
              font-weight: bold;
              margin-top: 40px;
          }
        }
        .testimonial_item--bottom{
          .testimonial_item--title-role{
            &:before {
              display: none;
            }
            .testimonial_item--title{
              color: #fff;
              display: inline-block;
              font-size: 14px;
              text-transform: none;
              &:before {
                content: "-";
              }
              &:after {
                content: "-";
              }
            }
            .testimonial_item--role{
              display: none;
              margin: 0;
            }
          }
        }
      }
    }
    .slick-dots {
      bottom: 0;
      li {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        button {
          color: #ffffff;
          width: 10px;
          height: 10px;
          &:before {
            font-size: 8px;
            width: 10px;
            height: 10px;
          }
        }
        &.slick-active{
          button{
            &:before{
              color: inherit;
              font-size: 8px;
            }
          }
        }
      }
    }
  }
  &.layout-style_4 {
    .testimonial_item--inner {
      padding: 15px;
    }
  }
}
