.section__about-us-content-box {
  .aboutus-content-box {
    .aboutus-content-box__image {
    }
    .aboutus-content-box__content {
      max-width: 750px;
      margin-left:auto;
      margin-right: auto;
      h1 {
        font-weight: bold;
        margin-bottom: 15px;
      }
      .btn-button {
        margin-top: 20px;
      }
    }
  }
  &.style_2 {
    text-align: center;
    .aboutus-content-box__content {
      text-align: center;
    }
  }
  &.style_3 {
    text-align: center;
    .aboutus-content-box__content {
      text-align: center;
      h1 {
        font-size: 40px;
        font-weight: 400;
      }
    }
  }
  &.style_4 {
    .aboutus-content-box__content {
      h1 {
        font-size: 72px;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 13px;
      }
    }
  }
}
