//h1-section-tab-product
.h1-section-tab-product{
  margin-top: 100px;
  margin-bottom: 80px;
  .style_5 .section-title {
    margin-bottom: 0;
  }
}

//secsion tab collection

.tab-product-collection{
  .category-list {
    margin-top: 15px;
    .tab-selector{
      line-height:42px;
      text-align: center;
      margin-bottom: 20px;
      ul{
        border-bottom: 0;
        display: inline-block;
        background: white;
        li{
          display: inline-block;
          float: none;
          padding: 9px 25px;
          border: transparent solid 1px;
          margin-right: 10px;
          a{
            border:0;
            padding:0;
            font-size:12px;
            font-weight:400;
            text-transform: uppercase;
            letter-spacing: 1px;
            &:hover{
              background:#fff;
              text-decoration:none;
            }
          }
          &:first-child{
            a{
              margin: 0;
              padding: 0;
              border: 0;
            }
          }
          &:hover,
          &.active {
            border: #dedede solid 1px;
          }
        }
      }
    }
  }
}
.more-product{
  text-align: center;
  .btn-all-product{
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
  }
}
