//brand-secdion
.sections__brands{
  padding: 30px 0;
  .featured-brands{
    .item{
      a{
        img{
          margin: 0 auto;
        }
      }
    }
  }
  img {
    filter: grayscale(100);
    -webkit-filter: grayscale(100);
    opacity: .6;
    transition: all 250ms ease-out;
    &:hover {
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
      opacity: 1;
    }
  }
}
