.section__featured-collections {
  .featured-collections {
    .featured-collections__item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      .category-products {
        padding: 100px 0;
      }
    }
  }
}
