.shop-metro {
  margin-top: 75px;
  .product_item--inner {
    height: 100%;
    .product_item--thumbnail {
      height: 100%;
    }
  }
  .category-products .products-grid .item {
    padding: 15px !important;
  }
}
