.section__about-us-team-member {
  margin: 50px 0;
  h3.title {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .nova-team-member {
    margin-top: 40px;
  }
}
