.section__service-banner-contact {
  .service-banner-contact {
    position: relative;
    padding: 180px 0;
    .banner--title {
      font-size: 36px;
      letter-spacing: 5px;
      margin-bottom: 25px!important;
      text-transform: uppercase;
    }
    .banner--sub-title {
      font-size: 14px;
    }
    .btn-button {
      margin-top: 30px;
    }
  }
}
