.section__service-box {
  .services-box {
    .services-box__content {
      h1 {
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p {
        margin-top: 15px;
      }
    }
  }
}
