.section__about-us-service-box {
  .aboutus__services-box {
    .aboutus__services-box--content {
      h1 {
        margin-bottom: 20px;
      }
      p {
        margin-top: 15px;
      }
    }
    .aboutus__services-box--image {
      margin-top: -30px;
    }
  }
}
