.incify-icon-box {
  margin-top: 55px;

  .icon-boxes-inner {
    margin-top: 25px;

    .box-heading-top {
      .box-icon-heading {
        display: table-cell;
        vertical-align: middle;
        padding-right: 20px;

        .box-icon-inner {
          .wrap-icon {
            .box-icon {
              display: inline-block;
              vertical-align: middle;
              overflow: hidden;
              max-width: 100%;
              transition: all 250ms ease-out;

              span {
                width: 35px;
                text-align: center;
                max-width: 100%;
              }
            }
          }
        }
      }

      .box-heading {
        display: table-cell;
        vertical-align: middle;

        .icon-heading {
          font-size: 14px;
          letter-spacing: 2px;
        }
      }
    }

    .box-contents {
      .box-description {}
    }
  }

  .icon-pos-top .icon-heading {
    margin-top: 15px;
  }
}
