.section__icon_box {
  &.style_2 {
    .incify-icon-box {
      margin-top: 0;
      text-align: center;

      .icon-boxes-inner {
        display: inline-block;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 20px;
        
        .box-icon-left {
          display: table-cell;
          line-height: 0;
          vertical-align: top;
          padding-top: 5px;
          padding-right: 20px;
        }

        .box-contents {
          display: table-cell;
          vertical-align: middle;

          h5 {
            font-size: 16px;
          }

          p {
            font-style: italic;
          }
        }
      }
    }
  }
}

.incify-icon-box {
  margin-top: 55px;

  .icon-boxes-inner {
    margin-top: 25px;

    .box-heading-top {
      .box-icon-heading {
        display: table-cell;
        vertical-align: middle;
        padding-right: 20px;

        .box-icon-inner {
          .wrap-icon {
            .box-icon {
              display: inline-block;
              vertical-align: middle;
              overflow: hidden;
              max-width: 100%;
              transition: all 250ms ease-out;

              span {
                width: 35px;
                text-align: center;
                max-width: 100%;
              }
            }
          }
        }
      }

      .box-heading {
        display: table-cell;
        vertical-align: middle;

        .icon-heading {
          font-size: 14px;
          letter-spacing: 2px;
        }
      }
    }

    .box-contents {
      .box-description {}
    }
  }

  .icon-pos-top .icon-heading {
    margin-top: 15px;
  }
}
