.column-wrapper--maxwidth--570 {
  .incify-colum-inner {
    width: 570px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.column-wrapper--maxwidth--1500 {
  max-width: 1500px;
}
