.slick-carousel {
  margin-left: -15px;
  margin-right: -15px;
  &.products-grid {
    margin-bottom: 0 !important;
    .slick-dots {
      bottom: 0;
    }
  }
}
.slick-carousel:not(.full-width-slide).slick-initialized:not(.slick-vertical):not([aria-autowidth]) .slick-slide {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: slickZoomOut;
    -webkit-animation-name: slickZoomOut;
}
.slick-carousel.slick-initialized:not(.slick-vertical):not([aria-autowidth]) .slick-slide.slick-active {
    animation-name: slickZoomIn;
    -webkit-animation-name: slickZoomIn
}

.slick-carousel.slick-initialized:not(.slick-vertical):not([aria-autowidth]) .slick-slide.slick-active+.slick-active {
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms
}

.slick-carousel.slick-initialized:not(.slick-vertical):not([aria-autowidth]) .slick-slide.slick-active+.slick-active+.slick-active {
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms
}

.slick-carousel.slick-initialized:not(.slick-vertical):not([aria-autowidth]) .slick-slide.slick-active+.slick-active+.slick-active+.slick-active {
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms
}

.slick-carousel.slick-initialized:not(.slick-vertical):not([aria-autowidth]) .slick-slide.slick-active+.slick-active+.slick-active+.slick-active+.slick-active {
    -webkit-animation-delay: 350ms;
    animation-delay: 350ms
}

.slick-carousel.slick-initialized:not(.slick-vertical):not([aria-autowidth]) .slick-slide.slick-active+.slick-active+.slick-active+.slick-active+.slick-active+.slick-active {
    -webkit-animation-delay: 450ms;
    animation-delay: 450ms
}

.slick-carousel.slick-initialized:not(.slick-vertical):not([aria-autowidth]) .slick-slide.slick-active+.slick-active+.slick-active+.slick-active+.slick-active+.slick-active+.slick-active {
    -webkit-animation-delay: 550ms;
    animation-delay: 550ms
}
@-webkit-keyframes slickZoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.8, .8, .8)
    }
    50% {
        opacity: 1
    }
}

@keyframes slickZoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.8, .8, .8)
    }
    50% {
        opacity: 1
    }
}

@-webkit-keyframes slickZoomOut {
    from {
        opacity: 1
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(0.8, .8, .8)
    }
    to {
        opacity: 0
    }
}

@keyframes slickZoomOut {
    from {
        opacity: 1
    }
    50% {
        opacity: 0;
        transform: scale3d(0.8, .8, .8)
    }
    to {
        opacity: 0
    }
}
.hidden-dots .slick-dots {
  display: none;
}
