.social-media-link {
  &.style-default {
    a {
      color:#ccc;
      margin: 0 15px;
      &:first-child {
        margin-left: 0 !important;
      }
      i {
        font-size: 16px;
      }
    }
    &.m1_social_link {
      i {
        font-size: 14px;
      }
    }
  }
}
.item--social {
  a {
    display: inline-block;
    padding: 0 10px;
  }
}
