.spa-service-list-section {
  margin-top: 60px;
}
.spa-serive-list {
  margin-top: 45px;
  h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }
  p {
    font-size: 12px;
    line-height: 24px;
  }
  .btn-button {
    margin-top: 15px;
  }
}
