@font-face{
  font-family:"LucidaGrande";
  src:url(LucidaGrande.ttf);
  font-weight:400
}
@font-face{
  font-family:"LucidaGrande";
  src:url(LucidaGrandeBold.ttf);
  font-weight:700
}
@import "snippets_reset";
@import "snippets_mixins";
@import "snippets_base_grid";
@import "snippets_form";
@import "layout";
@import "snippets_buttons";

@import "aside-header";
@import "header";
@import "header-style-1";
@import "header-style-2";
@import "header-style-3";
@import "header_style_4";
@import "nova-menu";
@import "page-title";

@import "snippets_table";
@import "snippets_social_link";
@import "snippets_blog_layout";
@import "snippets_blog_single";
@import "snippets_article_navigation";
@import "snippets_lookbook";
@import "snippets_faqs";
@import "snippets_sky_tabs";
@import "snippets_fly_search";
@import "snippets_nav_accordion";
@import "snippets_popup";
@import "snippets_newslleter_box";
@import "snippets_space";
@import "custom_class";

@import "slick_slider";
@import "snippets_breadcrumbs";
@import "box_popup";
@import "top_container";
@import "snippets_sidebar";
@import "snippets_pagination";

@import "shortcode_row";
@import "shortcode_icon_box";
@import "shortcode_block_title";
@import "shortcode_team_member";
@import "shortcode_progress";
@import "shortcode_section";
@import "shortcode_video_popup";
@import "shortcode_counter";
@import "shortcode_testimonial";
@import "shortcode_countdown";
@import "shortcode_accordion";

@import "block_team_member";

@import "snippets_page";
@import "page_collection";
@import "page_shop_metro";
@import "page_product";
@import "page_customer";
@import "page_cart";
@import "page_featured_collections";
@import "page_list_collections";
@import "page_404";
@import "page_wishlist";


@import "section_about_1_content_box";
@import "section_about_1_accordion_box";
@import "section_about_services_box";
@import "section_about_team_member";
@import "section_services_box";
@import "section_service_banner_contact";
@import "section_faq_content";
@import "section_collection_banner";

@import "home_section_collection_list";
@import "home_section_banner_image";
@import "home_section_banner_image_2";
@import "home_section_background_content";
@import "home_section_title";
@import "home_section_tab_collection";
@import "home_section_products_tab";
@import "home_section_product_list";
@import "home_section_banner_background";
@import "home_section_custom_support";
@import "home_section_blog_article";
@import "home_section_brands";
@import "home_section_video_banner";
@import "home_section_testimonials";
@import "home_section_product_mini_list";
@import "home_section_instagram";
@import "home_section_subscribe";
@import "home_section_banner_block";
@import "home_section_aboutus_box";
@import "home_icon_box";
@import "home_special_offers";
@import "helas_banner_image";
@import "home_watch_content_box";
@import "bike_fun_stuff";
@import "bike_testimonial";
@import "organic_background_content";
@import "organic_deal_box";
@import "wine_hover_box";
@import "wine_deal_box";

@import "custom_apps";

@import "footer";
@import "footer_style_1";
@import "footer_style_2";
@import "footer_style_3";
@import "footer_style_4";
@import "footer_style_5";
@import "footer_handheld_bar";
