{
  "name": "helas",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../assets/main.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "style_home.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../assets/style_home.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "theme-responsive.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../assets/theme-responsive.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "home",
      "home/home1"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "main.scss",
      "imports": [
        "_snippets_reset.scss",
        "_snippets_mixins.scss",
        "_snippets_base_grid.scss",
        "_snippets_form.scss",
        "_layout.scss",
        "_snippets_buttons.scss",
        "_aside-header.scss",
        "_header.scss",
        "_header-style-1.scss",
        "_header-style-2.scss",
        "_header-style-3.scss",
        "_header_style_4.scss",
        "nova-menu.scss",
        "page-title.scss",
        "_snippets_table.scss",
        "_snippets_social_link.scss",
        "_snippets_blog_layout.scss",
        "_snippets_blog_single.scss",
        "_snippets_article_navigation.scss",
        "_snippets_lookbook.scss",
        "_snippets_faqs.scss",
        "_snippets_sky_tabs.scss",
        "_snippets_fly_search.scss",
        "_snippets_nav_accordion.scss",
        "_snippets_popup.scss",
        "_snippets_newslleter_box.scss",
        "_snippets_space.scss",
        "_slick_slider.scss",
        "_snippets_breadcrumbs.scss",
        "_box_popup.scss",
        "_top_container.scss",
        "_snippets_sidebar.scss",
        "_snippets_pagination.scss",
        "_shortcode_row.scss",
        "_shortcode_icon_box.scss",
        "_shortcode_block_title.scss",
        "_shortcode_team_member.scss",
        "_shortcode_progress.scss",
        "_shortcode_section.scss",
        "_shortcode_video_popup.scss",
        "_shortcode_counter.scss",
        "_shortcode_testimonial.scss",
        "_shortcode_countdown.scss",
        "_shortcode_accordion.scss",
        "_block_team_member.scss",
        "_snippets_page.scss",
        "_page_collection.scss",
        "_page_shop_metro.scss",
        "_page_product.scss",
        "_page_customer.scss",
        "_page_cart.scss",
        "_page_featured_collections.scss",
        "_page_list_collections.scss",
        "_page_404.scss",
        "_page_wishlist.scss",
        "_section_about_1_content_box.scss",
        "_section_about_1_accordion_box.scss",
        "_section_about_services_box.scss",
        "_section_about_team_member.scss",
        "_section_services_box.scss",
        "_section_service_banner_contact.scss",
        "_section_faq_content.scss",
        "_home_section_collection_list.scss",
        "_home_section_banner_image.scss",
        "_home_section_banner_image_2.scss",
        "_home_section_background_content.scss",
        "_home_section_title.scss",
        "_home_section_tab_collection.scss",
        "_home_section_products_tab.scss",
        "_home_section_product_list.scss",
        "_home_section_banner_background.scss",
        "_home_section_custom_support.scss",
        "_home_section_blog_article.scss",
        "_home_section_brands.scss",
        "_home_section_video_banner.scss",
        "_home_section_testimonials.scss",
        "_home_section_product_mini_list.scss",
        "_home_section_instagram.scss",
        "_home_section_subscribe.scss",
        "_home_section_banner_block.scss",
        "_home_icon_box.scss",
        "_helas_banner_image.scss",
        "_bike_fun_stuff.scss",
        "_bike_testimonial.scss",
        "_organic_background_content.scss",
        "_organic_deal_box.scss",
        "_wine_hover_box.scss",
        "_wine_deal_box.scss",
        "_custom_apps.scss",
        "_footer.scss",
        "_footer_style_1.scss",
        "_footer_style_2.scss",
        "_footer_style_3.scss",
        "_footer_style_4.scss",
        "_footer_style_5.scss",
        "_footer_handheld_bar.scss",
        "product/_sidebar.scss",
        "product/_style_1.scss",
        "product/_style_2.scss",
        "product/_style_3.scss",
        "product/_sticky.scss"
      ]
    },
    {
      "path": "style_home.scss",
      "imports": [
        "home/home1/_h1_slide_show.scss",
        "home/reponsive.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}