/*============================================================================
slider show
==============================================================================*/
.slideshow-section {
  position: relative;
  min-height: 50px; }
  .slideshow-section .slideshow {
    z-index: 5; }
    .slideshow-section .slideshow .owl-dots {
      right: 50px;
      left: auto;
      bottom: auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .slideshow-section .slideshow .owl-dots .owl-dot {
        display: block;
        padding: 10px 0;
        margin: 10px 0;
        position: relative;
        counter-increment: slides-num; }
        .slideshow-section .slideshow .owl-dots .owl-dot.active:before {
          color: #000000; }
        .slideshow-section .slideshow .owl-dots .owl-dot.active:after {
          width: 45px; }
        .slideshow-section .slideshow .owl-dots .owl-dot:before {
          content: "0" counter(slides-num);
          font-size: 12px;
          position: absolute;
          right: 0;
          top: 0; }
        .slideshow-section .slideshow .owl-dots .owl-dot:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          height: 2px;
          width: 25px;
          background-color: #8a8a8a; }
        .slideshow-section .slideshow .owl-dots .owl-dot span {
          margin: 0;
          opacity: 0; }
    .slideshow-section .slideshow .owl-nav div {
      position: absolute;
      top: 40%;
      margin: 5px;
      padding: 3px 10px;
      font-size: 40px;
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
      display: none;
      color: #3b3b3b; }
    .slideshow-section .slideshow .owl-nav .owl-prev {
      left: 0; }
    .slideshow-section .slideshow .owl-nav .owl-next {
      right: 0; }
    .slideshow-section .slideshow:hover .owl-nav div {
      display: block; }
    .slideshow-section .slideshow .owl-item .content {
      top: 80%;
      opacity: 0;
      -webkit-transition: all 900ms;
      -moz-transition: all 900ms;
      -ms-transition: all 900ms;
      -o-transition: all 900ms;
      transition: all 900ms; }
    .slideshow-section .slideshow .owl-item.active .content {
      top: 45%;
      opacity: 1; }
      .slideshow-section .slideshow .owl-item.active .content.content-slider {
        top: 45%; }
    .slideshow-section .slideshow .content {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      line-height: 1;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 2000ms;
      -moz-transition: all 2000ms;
      -ms-transition: all 2000ms;
      -o-transition: all 2000ms;
      transition: all 2000ms; }
      .slideshow-section .slideshow .content.content-slider {
        position: absolute;
        top: 80%;
        left: 0;
        text-align: center;
        line-height: 1;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all 2000ms;
        -moz-transition: all 2000ms;
        -ms-transition: all 2000ms;
        -o-transition: all 2000ms;
        transition: all 2000ms; }
      .slideshow-section .slideshow .content.content-slider-2 {
        text-align: left; }
      .slideshow-section .slideshow .content .content-image {
        max-width: 500px; }
        .slideshow-section .slideshow .content .content-image img {
          width: 100%; }
      .slideshow-section .slideshow .content .content-area .text-slider-1 {
        font-size: 100px;
        line-height: 120px;
        font-weight: 400;
        color: #232324;
        letter-spacing: -2px;
        font-family: Prata;
        text-transform: capitalize;
        margin-bottom: -35px; }
      .slideshow-section .slideshow .content .content-area .text-slider-2 {
        font-size: 100px;
        line-height: 120px;
        font-weight: 400;
        color: #232324;
        letter-spacing: -2px;
        font-family: Prata;
        text-transform: capitalize; }
      .slideshow-section .slideshow .content .content-area .text-slider-3 {
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        color: #232324;
        letter-spacing: 5px;
        text-transform: uppercase;
        display: inline-block;
        padding: 0 15px;
        position: relative; }
        .slideshow-section .slideshow .content .content-area .text-slider-3:before {
          content: '';
          position: absolute;
          left: -55px;
          top: 50%;
          height: 1px;
          width: 55px;
          background-color: #232324;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
        .slideshow-section .slideshow .content .content-area .text-slider-3:after {
          content: '';
          position: absolute;
          right: -55px;
          top: 50%;
          height: 1px;
          width: 55px;
          background-color: #232324;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
      .slideshow-section .slideshow .content .content-area .text-slider-4 {
        font-size: 36px;
        line-height: 48px;
        font-weight: 400;
        color: #343538;
        letter-spacing: 1px;
        text-transform: uppercase; }
      .slideshow-section .slideshow .content .content-area .text-slider-5 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: #343538;
        letter-spacing: 0px; }
      .slideshow-section .slideshow .content .content-area a {
        font-size: 12px;
        line-height: 22px;
        font-weight: 400;
        color: #232324;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 20px 40px;
        display: inline-block;
        background: #ffffff;
        margin-top: 15px; }
        .slideshow-section .slideshow .content .content-area a.btn-slide-first:hover {
          background-color: #000000 !important;
          color: #ffffff; }
  .slideshow-section.full-screen-slider:after {
    content: "\f110";
    font-family: "FontAwesome";
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    margin-top: -18px;
    margin-left: -10px;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    color: #777;
    z-index: 1; }

.section-title {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-family: Prata;
  font-weight: 400;
  text-transform: uppercase; }
  .section-title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 60px;
    background: #232324;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .section-title span {
    font-size: 48px;
    line-height: 48px;
    color: #232324; }

.section-sub-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  color: #9d9d9d;
  font-family: "Playfair Display";
  font-style: italic; }

.banner-image-background-section {
  background-color: #e6e5e3; }
  .banner-image-background-section .banner-image {
    position: relative; }
    .banner-image-background-section .banner-image .box-background {
      padding-top: 71.5%;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat; }
    .banner-image-background-section .banner-image .box-inner .banner--infor {
      padding-top: 160px; }
      .banner-image-background-section .banner-image .box-inner .banner--infor h2 {
        font-size: 60px;
        font-family: Prata;
        font-weight: 400;
        text-transform: capitalize; }
      .banner-image-background-section .banner-image .box-inner .banner--infor p {
        font-size: 14px;
        padding-top: 15px;
        color: #343538; }
      .banner-image-background-section .banner-image .box-inner .banner--infor .btn-shopnow {
        margin-top: 40px; }

.btn-shopnow {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 18px 55px;
  background: #232324;
  display: inline-block; }
  .btn-shopnow:hover {
    color: #ffffff; }

.banner-image-section {
  padding: 0 15px; }
  .banner-image-section .no-padding {
    padding: 0 !important; }
  .banner-image-section .box-inner {
    overflow: hidden;
    position: relative; }
    .banner-image-section .box-inner:hover .banner--image {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }
    .banner-image-section .box-inner .link-shop-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      -webkit-transition: all 250ms ease-out;
      -o-transition: all 250ms ease-out;
      transition: all 250ms ease-out; }
    .banner-image-section .box-inner .banner--image {
      padding-bottom: 82%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 800ms;
      -moz-transition: all 800ms;
      -ms-transition: all 800ms;
      -o-transition: all 800ms;
      transition: all 800ms; }
      .banner-image-section .box-inner .banner--image.placeholder-svg {
        padding-bottom: 0; }
    .banner-image-section .box-inner .banner--infor {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 800ms;
      -moz-transition: all 800ms;
      -ms-transition: all 800ms;
      -o-transition: all 800ms;
      transition: all 800ms; }
      .banner-image-section .box-inner .banner--infor h1 {
        font-weight: 700;
        color: #ffffff;
        font-size: 30px;
        letter-spacing: 15px; }

.blog-article-section {
  margin-top: 70px; }
  .blog-article-section .feature-image-blog {
    overflow: hidden; }
    .blog-article-section .feature-image-blog .post-image {
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -ms-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .blog-article-section .feature-image-blog:hover .post-image {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
  .blog-article-section .blog_article .item {
    margin-bottom: 30px; }
    .blog-article-section .blog_article .item .feature-image-blog:hover .post-image:before {
      opacity: 1; }
    .blog-article-section .blog_article .item .feature-image-blog:hover .post-image .ico-view-image {
      opacity: 1;
      top: 50%; }
    .blog-article-section .blog_article .item .post-image {
      overflow: hidden;
      background-color: #fff;
      background-size: cover;
      background-position: center;
      padding-bottom: 61%;
      position: relative;
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -ms-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms; }
      .blog-article-section .blog_article .item .post-image:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms; }
      .blog-article-section .blog_article .item .post-image .ico-view-image {
        position: absolute;
        left: 50%;
        top: 70%;
        opacity: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background-color: #fff;
        border-radius: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms; }
        .blog-article-section .blog_article .item .post-image .ico-view-image:after {
          content: '\72';
          font-family: "dl-icon";
          position: absolute;
          left: 50%;
          top: 50%;
          font-size: 12px;
          color: #000;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .blog-article-section .blog_article .item .post-image .ico-view-image:hover {
          background-color: #93ddff;
          background-image: -moz-linear-gradient(180deg, star 0, #fabb98 100%);
          background-image: -webkit-linear-gradient(180deg, #93ddff 0, #fabb98 100%);
          background-image: -ms-linear-gradient(180deg, #93ddff 0, #fabb98 100%); }
          .blog-article-section .blog_article .item .post-image .ico-view-image:hover:after {
            color: #fff; }
    .blog-article-section .blog_article .item .content-detail-blog {
      text-align: left; }
      .blog-article-section .blog_article .item .content-detail-blog .date_comment {
        text-align: left;
        padding: 0; }
        .blog-article-section .blog_article .item .content-detail-blog .date_comment .author_post {
          display: inline-block;
          position: relative;
          margin-right: 10px; }
          .blog-article-section .blog_article .item .content-detail-blog .date_comment .author_post span {
            font-size: 11px;
            font-weight: 700;
            color: #232324; }
        .blog-article-section .blog_article .item .content-detail-blog .date_comment .post-date {
          display: inline-block;
          position: relative;
          padding-left: 20px;
          margin-right: 10px; }
          .blog-article-section .blog_article .item .content-detail-blog .date_comment .post-date:before {
            content: '\ed91';
            font-family: "Nucleo Outline";
            position: absolute;
            left: 0;
            top: 50%;
            font-size: 14px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); }
          .blog-article-section .blog_article .item .content-detail-blog .date_comment .post-date span {
            font-size: 11px; }
        .blog-article-section .blog_article .item .content-detail-blog .date_comment .post-count-comment {
          display: inline-block;
          position: relative;
          padding-left: 15px;
          margin-left: 10px; }
          .blog-article-section .blog_article .item .content-detail-blog .date_comment .post-count-comment:before {
            content: '\ed50';
            font-family: "Nucleo Outline";
            position: absolute;
            left: 0;
            top: 50%;
            font-size: 12px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); }
          .blog-article-section .blog_article .item .content-detail-blog .date_comment .post-count-comment .numb-comments {
            font-size: 12px;
            color: #343538; }
    .blog-article-section .blog_article .item .postTitle {
      margin-bottom: 20px;
      margin-top: 25px; }
      .blog-article-section .blog_article .item .postTitle h2 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        margin: 0 0 10px;
        text-transform: capitalize; }
        .blog-article-section .blog_article .item .postTitle h2 a {
          color: #343538; }
    .blog-article-section .blog_article .item .postContent {
      font-size: 16px;
      line-height: 1.5;
      padding-bottom: 30px;
      font-weight: 400;
      text-align: left; }
      .blog-article-section .blog_article .item .postContent p {
        margin: 0; }
    .blog-article-section .blog_article .item .btn-readmore {
      padding: 7px 25px;
      color: #343538;
      text-transform: capitalize;
      font-size: 14px;
      display: inline-block;
      border: 1px solid rgba(150, 150, 150, 0.3); }
      .blog-article-section .blog_article .item .btn-readmore:hover {
        color: #ffffff; }

.brand-secdion {
  padding: 30px 0;
  border-top: 1px solid #e8e8e8;
  margin-top: 50px;
  margin-bottom: -100px; }
  .brand-secdion .featured-brands .item a img {
    margin: 0 auto; }

.section_product_list {
  margin-top: 70px; }

.custom-support-section {
  padding: 50px 0;
  margin-top: 80px;
  background-color: #f7f7f7; }
  .custom-support-section .custom-support .icon-boxes-inner {
    text-align: center; }
    .custom-support-section .custom-support .icon-boxes-inner .aio-icon-left i {
      font-size: 36px;
      color: #000000; }
    .custom-support-section .custom-support .icon-boxes-inner .box-contents h5 {
      margin-top: 15px;
      font-weight: 700; }
    .custom-support-section .custom-support .icon-boxes-inner .box-contents p {
      font-size: 14px;
      color: #8a8a8a; }

.h1-section-tab-product {
  margin-top: 100px;
  margin-bottom: 80px; }

.tab-product-collection {
  padding-bottom: 75px; }
  .tab-product-collection .category-list {
    margin-top: 15px; }
    .tab-product-collection .category-list .tab-selector {
      line-height: 42px;
      text-align: center;
      margin-bottom: 20px; }
      .tab-product-collection .category-list .tab-selector ul {
        border-bottom: 0;
        display: inline-block;
        background: white; }
        .tab-product-collection .category-list .tab-selector ul li {
          display: inline-block;
          float: none;
          padding-bottom: 5px;
          margin: 0 15px; }
          .tab-product-collection .category-list .tab-selector ul li a {
            border: 0;
            padding: 0;
            color: #232324;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase; }
            .tab-product-collection .category-list .tab-selector ul li a:hover {
              background: #fff;
              text-decoration: none; }
          .tab-product-collection .category-list .tab-selector ul li:first-child a {
            margin: 0;
            padding: 0;
            border: 0; }

.more-product {
  text-align: center; }
  .more-product .btn-all-product {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px; }

.top-collection-section {
  margin-top: 110px; }
  .top-collection-section .collection-banner-content {
    margin-top: 55px; }
    .top-collection-section .collection-banner-content .item .box-inner {
      overflow: hidden;
      position: relative; }
      .top-collection-section .collection-banner-content .item .box-inner:hover .banner--image {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); }
      .top-collection-section .collection-banner-content .item .box-inner:hover .banner--infor {
        bottom: 0;
        opacity: 1;
        visibility: visible; }
        .top-collection-section .collection-banner-content .item .box-inner:hover .banner--infor:before {
          opacity: 1; }
      .top-collection-section .collection-banner-content .item .box-inner .link-shop-overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out; }
      .top-collection-section .collection-banner-content .item .box-inner .banner--image {
        padding-bottom: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 800ms;
        -moz-transition: all 800ms;
        -ms-transition: all 800ms;
        -o-transition: all 800ms;
        transition: all 800ms; }
      .top-collection-section .collection-banner-content .item .box-inner .banner--infor {
        position: absolute;
        left: 50%;
        bottom: -50px;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        padding: 34px 0;
        text-align: center;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 800ms;
        -moz-transition: all 800ms;
        -ms-transition: all 800ms;
        -o-transition: all 800ms;
        transition: all 800ms; }
        .top-collection-section .collection-banner-content .item .box-inner .banner--infor:before {
          content: "";
          background-color: #93ddff;
          background-image: -moz-linear-gradient(180deg, star 0, #fabb98 100%);
          background-image: -webkit-linear-gradient(180deg, #93ddff 0, #fabb98 100%);
          background-image: -ms-linear-gradient(180deg, #93ddff 0, #fabb98 100%);
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: -1;
          opacity: .5;
          -webkit-transition: all 250ms ease-out;
          -o-transition: all 250ms ease-out;
          transition: all 250ms ease-out; }
        .top-collection-section .collection-banner-content .item .box-inner .banner--infor p {
          font-weight: 400;
          color: #ffffff;
          font-size: 14px;
          text-transform: uppercase;
          margin: 0; }

@media (max-width: 1500px) {
  .slideshow-section .slideshow .content.content-slider {
    right: 0; } }

@media (min-width: 1300px) {
  .EL_row_padding_65 {
    padding-left: 65px;
    padding-right: 65px; } }

@media (max-width: 1200px) {
  .header-container.type2 .header {
    margin: 0 30px; }
  .header-container.style1 .header .header-wrapper {
    padding: 10px 30px; }
  .slideshow-section .slideshow .content .content-image {
    max-width: 350px; } }

@media (min-width: 991px) {
  .page-have-header-vertical .container {
    width: 100%; } }

@media (max-width: 991px) {
  .page {
    overflow: hidden; }
  .slideshow-section .owl-item .item {
    height: 70vh !important; }
  .slideshow-section .slideshow .content .content-area .text-slider-1 {
    font-size: 70px;
    line-height: 70px; }
  .slideshow-section .slideshow .content .content-area .text-slider-2 {
    font-size: 50px;
    line-height: 60px; }
  .header-container.type1.sticky-header .header-wrapper {
    display: none; }
  .header-container.type1 .header-right-area {
    top: -7px;
    position: relative; }
  .header-container.style1 .menu-icon,
  .header-container.type4 .menu-icon,
  .header-container.type6 .menu-icon {
    top: -10px; }
  .header-container.type5 .menu-icon {
    display: none !important; }
  .header-container.style1 .header-left-area {
    width: 60%; }
  .header-container.style1 .header-right-area {
    top: 0px;
    position: relative;
    width: 40%; }
  .header-container.type4 .header .header-wrapper {
    padding: 10px 30px; }
  .header-container.type5 .header .header-wrapper {
    width: 100%; }
  .header-container.type6 .header-left-area {
    width: 50%; }
  .header-container.type2 .header-left-area {
    width: 80%; }
  .header-container.type2 .header-right-area {
    width: auto; }
  .header-container.type2 .logo-header {
    top: 8px;
    position: relative; }
  .header-container.type2 .mini-cart {
    margin: 0 7px; }
  .header-container.type2 .search-control {
    margin-left: 10px;
    position: relative;
    top: 6px; }
  .header-container.type5 .logo-header {
    top: 0; }
  .header-container.type5 .main-menu {
    margin-top: 0;
    display: inline-block;
    float: right; }
  #rudr_instafeed li {
    width: 33.333%; }
  .template-index .header-container.type2.sticky-header .header,
  .header-container.type2.sticky-header .header-wrapper {
    display: none !important; }
  .header-container.type2 .header {
    margin: 0 15px;
    padding: 15px 0; }
  .template-index .header-container.type2 .header-right-area,
  .template-index .header-container.type2 .header .header-wrapper {
    display: inline-block !important; }
  .header-container.type2 .header-vertical {
    display: none !important; }
  .page.page-have-header-vertical {
    width: 100%;
    float: none; }
  .section-tab-product {
    padding: 0 15px; }
  .section-product-collection .filter-products .col-md-4:nth-child(3) {
    clear: both; }
  .slideshow-section .slideshow .content .content-image {
    max-width: 250px; }
  .main-container .post-layout-classic .blog-wrapper .postWrapper .entry-content-inner .feature-image {
    width: 100%;
    float: none; }
  .main-container .post-layout-classic .blog-wrapper .postWrapper .entry-content-inner .item-content {
    width: 100%;
    float: none;
    padding-left: 0; }
  .instagram-photos-section #rudr_instafeed li {
    width: 25%; }
  .services-section .content-inner {
    margin: 0 auto; }
  .form-contact-page .contact-infor-form {
    max-width: 100%;
    padding-left: 30px;
    padding-top: 70px;
    padding-right: 30px; }
  .services-section .img-replace,
  .about-section-style3 .img-replace {
    width: 100%;
    height: auto; }
  .about_section_13 .content-image {
    height: 600px; }
  .services-section .content-image,
  .about_section_11 .content-image,
  .about_section_12 .content-image,
  .about_section_14 .content-image,
  .about_section_15 .content-image,
  .about_section_10 .content-image {
    height: auto; } }

@media (max-width: 767px) {
  .slideshow-section .slideshow .content.content-slider {
    display: none !important; }
  .product-view .product-collateral .product-description {
    width: 100%; }
  .product-view .product-collateral .image-right {
    width: 100%;
    margin-top: 30px; }
  .header-container.style1 .header .header-wrapper {
    padding: 10px; }
  .slideshow-section .owl-item .item {
    height: 45vh !important; }
  .contact-style-3 .contact-location .content-inner {
    margin-bottom: 30px; }
  .section-about1-2 .content-section-about1-2 .content-inner {
    position: relative;
    top: 0;
    padding-right: 0;
    margin-bottom: 30px; }
  .about_us_style_2_2 .image-banner-1,
  .about_us_style_2_2 .image-banner-3,
  .section-about1-2 .content-section-about1-2 .banner-img-about1-1 {
    margin-bottom: 30px; }
  #rudr_instafeed li {
    width: 50%; }
  .footer-wrapper .footer-middle .info-footer {
    margin-bottom: 30px; }
  .block_brand_01 img {
    width: 100%;
    height: auto; }
  #popup_newsletter form {
    width: 80%;
    right: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .slideshow-section .slideshow .content .content-image {
    max-width: 100px; }
  .header-container.type1 .logo-header {
    top: -7px; }
  .header-container.type1 .menu-icon {
    top: -17px; }
  .header-container.style1.sticky-header .header-wrapper,
  .header-container.type4.sticky-header .header-wrapper,
  .header-container.type5.sticky-header .header-wrapper,
  .header-container.type6.sticky-header .header-wrapper {
    display: none; }
  .form-contact-page .contact-infor .infor-item {
    width: 100%;
    margin-bottom: 30px; }
  .main-container .post-layout-grid-2 .blog-wrapper .postWrapper {
    width: 100%; }
  #shopify-section-footer .footer-inner .footer-column {
    margin-bottom: 30px; }
  .instagram-photos-section #rudr_instafeed li {
    width: 50%; }
  .about-section-style3 .content-inner {
    padding: 20px; }
  .about-section-style3 .content-inner .lar-heading {
    font-size: 140px;
    line-height: 140px; }
  .about_section_8 .content-inner .line1 .item, .about_section_8 .content-inner .line2 .item {
    display: inline-block;
    width: 49%; }
  .form-contact-page .contact-infor .infor-item {
    display: inline-block; } }

@media (max-width: 550px) {
  #rudr_instafeed li {
    width: 100%; }
  #shopify-section-footer .footer-wrapper .footer-container.footer-type1 .footer-top-instagram .instagram-image #rudr_instafeed li {
    width: 100%; }
  .header-container .mini-cart .cart-wrapper {
    width: 350px; }
  .header-container.type1 .header-left-area {
    width: 45%; }
  .header-container.style1 .header-left-area {
    width: 60%; }
  .header-container.type1 .header-right-area {
    width: 50%; }
  .header-container.style1 .header-right-area {
    width: 39%; }
  .header-container.type1 .mini-cart,
  .header-container.style1 .mini-cart,
  .header-container.type4 .mini-cart,
  .header-container.type6 .mini-cart,
  .header-container.type7 .mini-cart {
    margin: 0; }
  .header-container.type4 .control-otherlinks,
  .header-container.type5 .control-otherlinks,
  .header-container.type6 .control-otherlinks,
  .header-container.type7 .control-otherlinks {
    margin-left: 0; }
  .header-container.type5 .mini-cart .icon-cart-header span,
  .header-container.type8 .mini-cart .icon-cart-header span {
    display: none; }
    .header-container.type5 .mini-cart .icon-cart-header span.cart-qty,
    .header-container.type8 .mini-cart .icon-cart-header span.cart-qty {
      display: block !important; }
  .header-container.type5 .mini-cart .icon-cart-header i,
  .header-container.type8 .mini-cart .icon-cart-header i {
    font-size: 18px; }
  .header-container.type1 .header-fixed-special .part-horizontal {
    right: 15px; }
  .header-container.type5 .menu-icon {
    top: -5px; }
  #header-aside {
    width: 300px; }
  body.open-header-aside .page {
    left: -300px; }
  #shopify-section-footer .footer-wrapper .footer-container.footer-type1 .footer-inner .footer-left {
    padding: 30px 30px 0 30px; } }
