//home page 1
@import "snippets_mixins";
@import "home/home1/_h1_slide_show";
//reponsive
@import "home/reponsive";
.m01-banner-title1:after {
    content: "";
    padding-bottom: 60px;
    background: url(m2-sale50.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}
.m01-banner-title2 {
  line-height: 80px;
}
