{% if section.settings.enable == true %}
<div data-section-id="{{ section.id }}" class="section__about-us-v1-content-box">
  <div class="aboutus-v1__content-box row display-flex">
    <div class="nova-column col-md-6">
      <div class="colunm-inner aboutus-v1__content-box--image incify-lazyload-image" data-background-image="{{ section.settings.image | img_url: 'master' }}" data-auto-padding="false"></div>
    </div>
    <div class="nova-column col-md-6">
      <div class="aboutus-v1__content-box--content text-center colunm-inner lg-mt-170 md-mt-100 xs-mt-50 lg-mb-100 md-mb-80 xs-mb-30">
        <h1>{{ section.settings.content_title }}</h1>
        <p>
          {{ section.settings.content_text }}
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% schema %}
{
  "name": "Content Box",
  "settings": [
    {
      "type": "header",
      "content": "Content Box Settings"
    },
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable Content Box",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Box Image"
    },
    {
      "type": "text",
      "id": "content_title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content_text",
      "label": "Content"
    }
  ],
  "presets": [
    {
      "name": "Content Box",
      "category": "About Us V1"
    }
  ]
}
{% endschema %}
