<div class="coming-soon-page" style="background-image: url({{ 'coming-soon-bg.jpg' | asset_url }})">
    <div class="container">
        <div class="text-coming-soon">
            <h2>{% if settings.coming_title != blank %}{{settings.coming_title}}{% endif %}</h2>
        </div>
        <div id="countdown">
            <div class="item">
                <p class="days">00</p>
                <p class="timeRefDays">Days</p>
            </div>
            <div class="item">
                <p class="hours">00</p>
                <p class="timeRefHours">Hrs</p>
            </div>
            <div class="item">
                <p class="minutes">00</p>
                <p class="timeRefMinutes">Mins</p>
            </div>
            <div class="item">
                <p class="seconds">00</p>
                <p class="timeRefSeconds">Secs</p>
            </div>
        </div>
        <div class="pasword-to-home">
            {% form 'storefront_password' %}

            {{ form.errors | default_errors }}

            <input placeholder="Enter store using password:" type="password" name="password">
            <input type="submit" value="Enter">

            {% endform %}
        </div>
        <script>
            jQuery(document).ready(function(){
                jQuery("#countdown").countdowntime({
                    date: "{% if settings.target_count_down_coming != blank %}{{settings.target_count_down_coming}}{% endif %} 00:00:00", // Change this to your desired date to countdown to
                    format: "on"
                });
            });
        </script>
    </div>
</div>